.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  appearance: none;
  width: 17px;
  height: 17px;
  border: 0.5px solid black;
  background: white;
  cursor: pointer;
  position: relative;
}

.checkbox input {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1; 
}

.checkboxChecked::after {
  content: '';
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  background: black;
}

.label {
  min-width: 100px;
  text-align: left;
  color: #000;
  font-family: Oxygen Mono;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}