@import '../../App.scss';

.label {
  display: flex;
  width: 27px;
  height: 17px;
  margin-left: 34px;
  align-items: center;
  border: 0.5px solid black;
  border-radius: 32px;
  padding: 0 3px;
  transition: 1s;
  cursor: pointer;
  @include mobile {
    width: 40.5px;
    height: 25.5px;
  }
}

.label input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  display: flex;
  height: 9px;
  width: 9px;
  background: black;
  border: 0.5px solid black;
  transition: 0.5s;
  border-radius: 16px;
  margin-left: 10px;
  @include mobile {
    width: 16px;
    height: 16px;
    border-radius: 48px; 
    margin-left: 18px;
  }
}

.sliderChecked {
  background-color: white;
  margin-left: 0;
  margin-right: 9px;
}
