.default {
  display: inline-flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  background: var(--gray, #fbfbfb);
  border: 0.5px solid transparent;
  cursor: pointer;
  font-family: Oxygen Mono;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

.selected {
  border: 0.5px solid var(--black, #000);
  background: var(--white, #fff);
}
