@import '../../App.scss';

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  @include mobile {
      flex-direction: row-reverse;
  }
}
.radio {
  display: flex;
  justify-content: center;
  align-items: center;
  appearance: none;
  width: 17px;
  height: 17px;
  border: 0.5px solid black;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  &:checked:after {
    content: '';
    display: block;
    width: 7px;
    height: 7px;
    background: black;
    border-radius: 50%;
  }
}

.label {
  text-align: left;
  color: #000;
  font-family: Oxygen Mono;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  @include mobile {
    font-size: 14px;
    min-width: 110px;
  }
}
