@import url(../../globals.scss);

.header {
  width: 630px;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 20px;

  &_title {
    color: var(--black, #000);
    font-family: Instrument Serif;
    font-size: 36px;
    font-weight: 400;
    line-height: normal;
  }

  &_button {
    display: inline-flex;
    padding: 14px 20px 14px 15px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    background: var(--white, #fff);
    cursor: pointer;
    border: none;
    border: 1px solid transparent;
    &:hover {
      border: 1px solid black;
    }
  }
}

.header_button svg {
  transition: all 1.5s ease-in-out;
  transform: rotate(0deg);
}

.header_button:hover svg {
  animation: dice-roll 0.5s linear;
}

@keyframes dice-roll {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.bread_wrapper {
  min-height: 77px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0.5px solid black;
  border-bottom: 0.5px solid black;
  padding: 20px 0;
}

.vegetables_wrapper {
  max-width: 350px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.separator {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: -4.5px;
    left: 191px;
    width: 60px;
    height: 0.5px;
    background-color: black;
    transform: translate(-50%, -50%);
  }
}


//

.switch__wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 5px;
  gap: 35px;
}

.switch__wrapper p {
  width: 50px;
}