// IngredientSection.module.scss
.extra__ingredients_container {
    display: flex;
	justify-content: space-between;
	align-items: flex-start;
	border-bottom: 0.5px solid black;
	padding: 20px 0;
  }
  
  .title__switch_wrapper {
    display: flex;
	width: 100%;
	align-items: center;
	margin-top: 5px;
	justify-content: space-between;
	margin-right: 5px;
  }
  
  .extra__ingredients_columns {
    display: flex;
	flex-direction: column;
  }
  
  .add__more_wrapper {
    display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	gap: 50px;
  }
  
  .add__more_margin {
    display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	gap: 50px;
	margin-top: 10px;
}
  
  
  .hidden {
    display: none;
  }
  