@import '../../../App.scss';

.removeIcon {
  stroke: black;
  fill: none;
  @include mobile {
    width: 25px;
    height: 25px;
  }
}

.removeIcon:hover rect {
  fill: black;
}

.removeIcon:hover line {
  stroke: white;
}

.removeIcon line {
  transform: translateY(.5px);
}