@import url(../../views/PaniniCreator/PaniniCreator.module.scss);

.extras_container {
  margin-top: 30px;
}

.spreads_columns {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.serving_row {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}
