@import url(../../globals.scss);

.extras_container {
  margin-top: 30px;
}

.egg_wrapper {
  border-top: 0.5px solid black;
  padding: 20px 0;
}

.spreads_columns {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.serving_row {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}


// testy

.switch__wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 5px;
  gap: 35px;
}

.switch__wrapper p {
  width: 50px;
}

.wrappertest {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  gap: 50px;
}
